.words_block {
  height: 510px;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 15px;
}

.words_block::-webkit-scrollbar {
  width: 0;
}

.list_container {
  margin-top: 20px;
  padding: 30px;
  height: 580px;
  width: 456px;
  margin-left: 46px;
  box-shadow: 0 0 1px 0 black;
  background-color: #01a9b4;
}

.words {
  display: inline-block;
  min-height: 35px;
  min-width: 145px;
  max-width: 360px;
  border-radius: 5px;
  cursor: pointer;
  outline: hidden;
  word-wrap: break-word;
  position: relative;
  color: black;
  font-weight: bold;
}

.words span {
  color: black;
  float: left;
}

.englishWord {
  padding: 5px 12px 5px 12px;
  text-align: center;
  margin: 3px 0 0 15px;
  font-size: large;
  width: 100%;
  background-color: #f6f7c1;
}

.englishWord span {
  opacity: 0.4;
}

.englishWord:hover span {
  opacity: 1;
}

.russianWord {
  padding: 5px 12px 5px 12px;
  color: #f6f7c1;
  text-align: center;
  margin: 3px 0 0 15px;
  font-size: large;
  width: 100%;
  background-color: #086972;
}

.englishWord:hover {
  font-size: larger;
}

.englishWord:hover div {
  display: inline;
  text-decoration: underline;
}

.englishWord_block .show_info_of_word {
  margin-left: 3px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 20%;
}

.englishWord_block .show_info_of_word:hover {
  font-weight: bold;
  color: rgb(0, 0, 0, 0.8);
  text-decoration: underline;
  background-color: #87dfd6;
  border: solid 1px #086972;
}

.englishWord_block:hover .tochki {
  opacity: 0;
}

.russianWord:hover div {
  display: inline;
  text-decoration: underline;
}

.russianWord:hover {
  text-decoration: underline;
  font-size: larger;
}

.russianWord span {
  color: #f6f7c1;
  opacity: 0.4;
}

.russianWord:hover span {
  color: #f6f7c1;
  opacity: 1;
}

.changing_word {
  width: 100%;
  border: solid 1px white;
  color: black;
  padding: 5px 12px 5px 12px;
  margin: 8px 0 5px 14px;
  text-align: center;
  font-size: large;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  outline: none;
}

.pustoePole {
  padding: 3px 40px 3px 40px;
  border-radius: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-left: 82px;
  margin-top: 40%;
}

.tochki {
  width: 18px;
  display: inline;
  opacity: 0;
  margin-left: 12px;
}

.list_container .words:hover ~ .tochki {
  opacity: 0.5;
}

.tochki:hover {
  opacity: 1;
  cursor: pointer;
}

.popap {
  display: flex;
}
.popap_container {
  width: 400px;
  display: flex;
  margin: 3px 0 0px 6px;
  background-color: #dddd;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 black;
}

.change_input_place-2 {
  display: flex;
  margin-top: 10px;
}

.change_input_place-2 input {
  height: 25px;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  margin-bottom: 3px;
  border: solid 1px black;
}

.change_input_place-2 .right_change_input {
  margin-left: 10px;
}

.change_input_place-1 {
  margin: 5px 43px 0px 18px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.popap img {
  display: inline;
  cursor: pointer;
  padding: 3px;
  opacity: 0.3;
  width: 15px;
  height: 18px;
  padding: 3px;
  margin-left: 10px;
  margin-top: 6px;
}

.popap img:hover {
  opacity: 1;
}

.deleteChange {
  width: 75px;
  margin: 5px 0 5px 15px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  text-align: center;
  background-color: #fff;
  width: 160px;
  box-shadow: 0 1px 1px 1px rgb(0, 0, 0, 0.5);
}

.popap .change {
  margin-left: 10px;
}

.deleteChange:hover {
  box-shadow: 0 0 0 0 rgb(0, 0, 0, 0.5);
}

.changes_block span:hover {
  font-weight: bold;
}

.changes_block div:hover {
  font-weight: bold;
}

.changes_block {
  padding: 5px 0 5px 0;
  display: flex;
  margin-top: 5px;
  margin-left: 0px;
}

.changes_block div {
  border: solid 1px black;
  width: 173px;
  padding: 3px 0px 5px 0px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-align: center;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
}

.arrow_up img {
  width: 20px;
  padding: 5px;
  background-color: #fff;
  border-radius: 20%;
  cursor: pointer;
  text-align: center;
}

.arrow_up img:hover {
  box-shadow: 0 0 3px 0 black;
}

.arrow_up {
  width: 30px;
  display: inline-block;
}

.downButton {
  float: right;
}

.pages {
  display: inline-block;
  width: 30px;
  margin-left: 41%;
  background-color: #fff;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  border-radius: 2px;
}

.leftright {
  width: 60px;
  height: 25px;
  display: block;
  margin-left: 43%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.leftright:hover {
  box-shadow: 0 0 2px 0 black;
  background-color: #87dfd6;
}
