.englishInput {
  margin-left: 10px;
}

.englishInput div {
  margin-bottom: 7px;
  font-weight: bold;
}
.russianInput div {
  font-weight: bold;
  margin-bottom: 7px;
}

.add_word {
  border: solid 2px white;
  color: white;
  width: 376px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  text-align: center;
  background-color: #07575b;
  margin-left: 100px;
}

.add_word:hover {
  background-color: #003b46;
}

.inputPlace {
  display: flex;
  text-align: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  margin-left: 100px;
}
