.englishInput {
  margin-left: 10px;
}

.englishInput div {
  margin-bottom: 7px;
  font-weight: bold;
}
.russianInput div {
  font-weight: bold;
  margin-bottom: 7px;
}

.add_word {
  color: #87dfd6;
  width: 486px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 51px;
  box-shadow: 0 0 1px 0 black;
  background-color: #086972;
}

.add_word div {
  display: inline;
}

.add_word:hover {
  box-shadow: 0 0 3px 0 black;
  background-color: #086972;
  color: white;
}

/* .add_word:hover div {
  text-decoration: underline;
} */

.inputPlace {
  display: flex;
  text-align: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  margin-left: 100px;
}
