.App {
  width: 400px;
  margin: auto;
  margin-top: 200px;
}

.closeWindiw {
  width: 398px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border: solid 1px white;
  text-align: center;
  padding: 5px 0 5px 0px;
  border-radius: 0 0 5px 5px;
  margin-top: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}

.closeWindiw:hover {
  color: white;
  background-color: rgb(253, 57, 57);
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.6);
}

.learnwords {
  text-align: center;
  border: solid 2px black;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.learnwords:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 2px white;
  color: white;
  /* background-color: rgb(255, 255, 255, 0.3); */
}

.wordsContainer {
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px 10px 0 0;
  height: 400px;
  border: solid 2px black;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 2px white;
}

.englishWord {
  padding: 5px 12px 5px 12px;
  border: solid 1px black;
  background-color: white;
  text-align: center;
}

.englishWord:hover {
  background-color: rgb(213, 213, 255);
}

.russianWord {
  border: solid 1px black;
  background-color: rgb(255, 132, 110);
  padding: 5px 12px 5px 12px;
  color: white;
  text-align: center;
}

.russianWord:hover {
  background-color: tomato;
  color: white;
}

.proces {
  background-color: white;
  border: solid 2px red;
  padding: 5px 12px 5px 12px;
}

.words {
  display: inline-block;
  min-height: 20px;
  min-width: 150px;
  max-width: 250px;
  margin: 3px 0 0 80px;
  border-radius: 5px;
  cursor: pointer;
  outline: hidden;
  word-wrap: break-word;
  position: relative;
}

.inputPlace {
  display: flex;
  text-align: center;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}

.button {
  border: solid 2px white;
  color: white;
  width: 376px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(152, 152, 255);
}

.button:hover {
  background-color: blue;
}

button:active {
  background-color: rgb(155, 208, 253);
}

.englishInput {
  margin-left: 10px;
}

.englishInput div {
  margin-bottom: 7px;
  font-weight: bold;
}

.russianInput div {
  font-weight: bold;
  margin-bottom: 7px;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  outline: none;
}

.pustoePole {
  padding: 3px 40px 3px 40px;
  border-radius: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255, 0.5);
}

.tochki {
  width: 15px;
  opacity: 0;
  margin-left: 5px;
  background-color: #fff;
  padding: 0 2px 0 2px;
  border-radius: 5px;
}

.wordsContainer .words:hover ~ .tochki {
  opacity: 0.4;
}

.tochki:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popap {
  display: flex;
}
.popap_container {
  display: flex;
  margin: 3px 0 0px 74px;
}

.inputPlace2 {
  display: flex;
  margin-top: 10px;
  margin-left: 21px;
}

.inputPlace2 input {
  height: 25px;
  width: 130px;
  background-color: rgb(224, 240, 255);
  border-radius: 5px;
  margin-bottom: 3px;
  border: solid 1px black;
}

.inputPlace2 .rightInput {
  margin-left: 7px;
}

.popap img {
  display: inline;
  border-radius: 50%;
  cursor: pointer;
  padding: 3px;
  opacity: 0.5;
}

.popap img:hover {
  opacity: 0.9;
}

.close {
  margin-top: 10px;
}

.deleteChange {
  width: 75px;
  margin: 5px 0 5px 5px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  text-align: center;
  background-color: #fff;
}

.deleteChange:hover {
  font-weight: bold;
}

.changeDiv span:hover {
  font-weight: bold;
}

.changeDiv div:hover {
  font-weight: bold;
}

.changeDiv {
  display: flex;
  margin-top: 5px;
  margin-left: 74px;
}

.changeDiv div {
  width: 88px;
  padding: 3px 0px 5px 0px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-align: center;
  margin-left: 4px;
  background-color: rgb(255, 255, 255);
}

.englishWord2:hover .tochki {
  opacity: 0;
}

.window {
  transform: translateY(-1000px);
}

.open {
  transform: translateY(0px);
  transition: transform 0.8s ease-in;
}

.upDoun img {
  width: 20px;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.upDoun {
  width: 30px;
}
