.App {
  width: 600px;
  margin: auto;
}

.open_window {
  transform: translateY(0px);
  transition: transform 0.8s ease-in-out;
  z-index: 2;
  position: absolute;
}

.hide_window {
  transform: translateY(-1500px);
}

.filter_catds {
  z-index: -2;
  filter: blur(7px);
  position: fixed;
}

.your_dictionary {
  text-align: center;
  border: solid 2px black;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 110px;
}

.your_dictionary:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: solid 2px white;
  color: white;
}

.closeWindiw {
  width: 398px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border: solid 1px white;
  text-align: center;
  padding: 5px 0 5px 0px;
  border-radius: 0 0 5px 5px;
  margin-top: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: 100px;
}

.closeWindiw:hover {
  color: white;
  background-color: rgb(253, 57, 57);
  border: solid 1px black;
  background-color: rgba(0, 0, 0, 0.6);
}

.infoContainer .closeInfo_of_word {
  width: 15px;
  margin-left: 95%;
  cursor: pointer;
  margin-top: 10px;
  opacity: 0.5;
}

.infoContainer .closeInfo_of_word:hover {
  opacity: 1;
}

.infoContainer {
  background-color: #fff;
  width: 600px;
  height: 650px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 2px 0 black;
  z-index: 2;
  margin-top: 160px;
}

.englword_russword {
  margin-left: 20px;
  margin-right: 30px;
  padding: 5px 0 5px 10px;
  font-size: 30px;
  background-color: #c4dfe6;
  border-radius: 10px;
  font-weight: bold;
}

.words_info_block {
  display: grid;
  grid-template-columns: 45% 55%;
  background-color: #fff;
  margin: 20px 20px 0 20px;
  height: 550px;
}

.words_info_block textarea {
  outline: none;
  border-radius: 5px;
  resize: none;
  border: solid 2px #66a5ad;
  padding: 5px;
}

.words_info_block div {
  margin-bottom: 10px;
}

.words_info_keys {
  font-weight: bold;
}

.words_info_values {
  color: rgb(100, 100, 158);
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.defaultValue {
  opacity: 0.5;
}

.wordPhoto {
  height: 250px;
  margin-top: 25px;
}
.input {
  display: none;
}
.addPhoto {
  display: inline-block;
  background-color: #2f9fa5;
  color: white;
  height: 20px;
  width: 160px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  padding: 0px 10px 0px 10px;
}

.photo_block {
  float: left;
}

.changeInfo {
  font-size: 22px;
  width: 600px;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  color: #66a5ad;
  box-shadow: 0 0 1px 0 black;
}

.changeInfo:hover {
  color: black;
}
